/*
* @Author: mqy
* @Date:   2017-05-05 14:10:11
* @Last Modified by:   mqy
* @Last Modified time: 2017-05-12 16:39:19
*/
.section1 {
	background: url(../images/bg.jpg) 50%;
	text-align: center;
}
.section2 {
	background: url(../images/bg.jpg) 50%;
}
.section3 {
	background: url(../images/bg.jpg) 50%;
}
/*初始化开门*/
/*.open{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #86C166;
	z-index: 100;
	transform-style:preserve-3D;
	animation:slide 10s infinite linear;
	transform:rotateY(0deg) translateZ(70px);
}
@keyframes slide{
	from{
		transform:rotateY(0deg);
	}
	to{
		transform:rotateY(-360deg);
	}
}*/
/*section1*/
.hezuo_bg{
	width: 1000px;
	height: 450px;
	position: relative;
	background-color: #FFFFFF;
	margin: 0 auto;
	top: 40px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	display: none;
}
.hezuo_xs{
	position: absolute;
	width: 0;
	height: 0;
}
.hezuo_xstl{
	top: 0;
	left: 0;
	border-top: 30px solid #86C166;
	border-right: 30px solid transparent;
}
.hezuo_xstr{
	top: 0;
	right: 0;
	border-top: 30px solid #86C166;
	border-left: 30px solid transparent;
}
.hezuo_xsbl{
	bottom: 0;
	left: 0;
	border-bottom: 30px solid #86C166;
	border-right: 30px solid transparent;
}
.hezuo_xsbr{
	bottom: 0;
	right: 0;
	border-bottom: 30px solid #86C166;
	border-left: 30px solid transparent;
}
.hezuo_tit{
	width: 85%;
	border-bottom: 1px dashed #86C166;
	margin: 0 auto;
	color: #323232;
	font-size: 24px;
	padding-top: 70px;
	padding-bottom: 50px;
}
.hezuo_con{
	width: 200px;
	height: 150px;
	margin-left: 100px;
	float: left;
	margin-top: 75px;
	color: rgb(111, 111, 111);
	text-align: left;
	display: none;
}


/*section2*/
.zpxx_bg{
	width: 0;
	height: 520px;
	position: relative;
	overflow: hidden;
	background-color: #FFFFFF;
	margin: 0 auto;
	top: 40px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.zpxx_bg_sq{
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 50%;
	margin-left: -20px;
	border-top: 16px solid #86C166;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
}
.zpxx_bg_jia{
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -8px;
}
.zpxx_tip{
	width: 100%;
	height: 54px;
	padding-top: 25px;
	color: #323232;
	font-size: 22px;
	line-height: 32px;
	border-bottom: 1px dashed #86C166;
	padding-bottom: 20px;
}
.zpxx_tip span{
	color: #86C166;
	font-size: 22px;
}
.zpxx_left{
	width: 140px;
	height: 420px;
	margin-left: 20px;
	float: left;
}
.zpxx_left_nav{
	width: 138px;
	height: 60px;
	border: 1px solid #DFDFDF;
	margin-top: 30px;
	cursor: pointer;
	color: #1F1E1E;
	font-size: 18px;
	line-height: 60px;
}
.zpxx_left_nav_active{
	background-color: #86C166;
	color: #FFFFFF;
}
.zpxx_right{
	width: 800px;
	height: 420px;
	float: left;
	margin-left: 20px;
}
.zpxx_right_con{
	width: 100%;
	height: 100%;
}
.zrc_tit{
	width: 200px;
	height: 50px;
	float: left;
	line-height: 50px;
	margin-top: 30px;
	margin-left: 50px;
	color: #131010;
	cursor: pointer;
	border: 1px solid #DFDFDF;
}
.zrc_tit_active{
	background-color: #86C166;
	color: #FFFFFF;
}
.zrc_con{
	width: 700px;
	height: 300px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	text-align: left;
	color: #757070;
}






/*section3*/
.lxwm_lx_bg{
	position: relative;
	top: -60px;
}
.lxwm_lx{
	width: 0;
	height: 2px;
	background-color: #B6B4B4;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.lxwm_lxl{
	float: left;
}
.lxwm_lxr{
	float: right;
}
.lxwm_con{
	width: 300px;
	height: 160px;
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -150px;
	background-color: #EAE5E5;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	display: none;
}
.lxwm_con_tit{
	padding-top: 20px;
	padding-bottom: 16px;
	color: #86C166;
	font-weight: bold;
}
.lxwm_con_con{
	color: rgb(111, 111, 111);
	text-align: left;
	padding-left: 30px;
	padding-top: 6px;
}
.lxwm_lx_lxb{
	width: 2px;
	height: 0;
	background-color: #B6B4B4;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -1px;
}
.lxwm_wx_img{
	width: 149px;
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -75px;
	border: 1px solid #B6B4B4;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	display: none;
}
.lxwm_wx_img img{
	width: 100%;
}