*{
	margin: 0;
	padding: 0;
	border: none;
	font: 16px "Microsoft Yahei";
	color: #fff;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.section{
	text-align: center;
}
/*头部导航*/
.header{
	width: 100%;
	height: 80px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 1;
}
.header_con{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
.header_con_logo{
	height: 80px;
	float: left;
	margin-top: 7px;
}
.header_con_logo img{
	height: 66px;
}
.header_con_nav{
	float: right;
	margin-top: 46px;
}
.header_con_nav li{
	float: left;
	margin-left: 78px;
	padding-bottom: 13px;
}
.header_con_nav li a{
	color: #000000;
}
.header_con_nav .active a{
	color: #86C166;
	font-weight: bold;
}
.header_con_nav .active{
	position: relative;
}
.header_con_nav .active:after{
	content: "";
	position: absolute;
	top: 34px;
	left: 50%;
	margin-left: -14px;
	width: 0;
	height: 0;
	border:6px solid transparent;
	border-top: 14px solid #FFFFFF;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
}